<section>
  <h1>About me</h1>
  <p>My name is <strong>Fabio Mora</strong> and I&#8217;m an Italian life enthusiast. Software developer for pro.</p>

  <h3>Get in touch</h3>
  <p>Tel: (+39) 340-1504097<br />
     Email: <a href="mailto:mail@fabio.mora.name">mail@fabio.mora.name</a>
  </p>
  <p>
	<strong>Social:</strong>
	<a href="http://twitter.com/morafabio">Tw</a> |
	<a href="http://facebook.com/fabio.mm">Fb</a> |
	<a href="http://goo.gl/dIXH">In</a> |
	<a href="http://www.lastfm.it/user/fabiomm">As</a>
  </p>
</section>
